html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: grey;
    overscroll-behavior: none;
}

#root {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    image-rendering: pixelated;
}